.comments {
  :global {
    .input-comment {
      margin-bottom: 30px;
    }

    .ant-divider-horizontal {
      display: flex;
      clear: both;
      width: 100%;
      min-width: 100%;
      margin: 12px 0 !important;
      border: 1px #acacac;
    }
  }
}
