@import 'style/color.scss';

.button-normal {
  align-content: center;
  font-size: 14px;
  font-weight: 700;
  color: $primary !important;
  height: 40px;
  background-color: #fff !important;
  border-radius: 6px;
  padding: 10px 20px 10px 20px;
  display: inline-flex;
  align-items: center;
  border-color: #fff !important;
  &:hover,
  :focus {
    color: $primary;
    border-color: $primary;
  }
}

.button-primary {
  align-content: center;
  font-size: 14px;
  font-weight: 700;
  color: #fff !important;
  height: 40px;
  background-color: $primary !important;
  border-color: $primary !important;

  &:hover,
  :focus {
    color: $primary !important;
    border-color: $primary !important;
  }
}

.button-cancel {
  font-weight: 400 !important;
  color: #000 !important;
  height: 40px;
  line-height: 20px;
  border: 1px solid #c6c6c6 !important;
  background-color: #e5e5e5 !important;

  &:hover,
  :focus {
    color: $primary;
    border-color: $primary;
  }
}

.button-load-more {
  color: #fff !important;
  line-height: 20px;
  width: 100%;
  border: 1px solid #c6c6c6 !important;
  background-color: #d4d4d4 !important;
  align-items: center !important;
  display: block !important;
  &:hover,
  :focus {
    color: $primary;
    border-color: $primary;
  }
}
//
//.button-notification {
//  color: $primary !important;
//  line-height: 24px;
//  font-weight: 500 !important;
//  width: 100%;
//  border: 1px solid #fff !important;
//  background-color: #fff !important;
//  align-items: center !important;
//  display: block !important;
//  &:hover,
//  :focus {
//    color: #fff !important;
//    background-color: $primary !important;
//    border-color: #fff !important;
//    opacity: 100% !important;
//  }
//}
//
//.button-header-login {
//  color: $primary !important;
//  line-height: 24px;
//  font-weight: 500 !important;
//  width: 100%;
//  border: 1px solid #fff !important;
//  background-color: #fff !important;
//  align-items: center !important;
//  display: block !important;
//  border-radius: 0px !important;
//  &:hover,
//  :focus {
//    color: $primary;
//    border-color: $primary;
//  }
//}
//
//.button-header-register {
//  color: $primary !important;
//  line-height: 24px;
//  font-weight: 500 !important;
//  width: 100%;
//  border: 1px solid $primary !important;
//  background-color: #fff !important;
//  align-items: center !important;
//  display: block !important;
//  border-radius: 0px !important;
//  &:hover,
//  :focus {
//    background-color: $primary !important;
//    color: #fff !important;
//    border-color: $primary;
//    opacity: 100% !important;
//  }
//}
