@import 'style/color.scss';
@import 'style/variables.scss';

$banner-height: 500px;

.home-view {
  position: relative;

  .banners {
    width: 100%;
    height: $banner-height;
    margin: 0 auto;
    .banner1 {
      background-color: #ffc828;
      height: $banner-height;
      .ant-row {
        height: $banner-height;
      }
      .info-left {
        display: flex;
        align-items: center;
        h1,
        h2 {
          margin-bottom: 10px;
          line-height: 1;
        }
      }
      .logo {
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }
    }
  }

  .content {
    width: 100%;
    margin: 0 auto;
    background-color: white;

    .card {
      height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      .card-content {
        width: 90%;
        height: 315px;
        background-color: black;
      }
    }

    .whats-new {
      padding: $block-padding-vertical $body-padding-horizon-1-5x;
      .facts {
        margin-bottom: $block-padding-vertical;
        .fact-num-big {
          font-size: 120px;
          color: rgba(234, 234, 234, 0.5);
          margin-bottom: 0;
        }
        .fact-num {
          color: $primary;
          margin-top: -120px;
          margin-bottom: 0;
        }
      }
    }

    .benefit-and-contest {
      padding: $block-padding-vertical $body-padding-horizon;
      background-color: #f7f8fa;
      position: relative;
      .img-top-right {
        position: absolute;
        top: 0;
        right: 0;
      }
      .img-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .btn-round {
        width: 120px;
        border-radius: 24px !important;
      }
    }

    .partners {
      text-align: center;
      padding: 10px $body-padding-horizon;
    }

    .pr-partners {
      text-align: center;
      padding: 10px $body-padding-horizon;
      height: 350px;
    }
  }
}
