@import 'style/variables.scss';

$breakpoints: (
  // phone-sm: 420px,
  phone: 700px,
  // tablet: 768px,
  // tablet-lg: 1024px,
  desktop: 1304px,
  // desktop-lg: 1600px
);
//Mixin
@mixin for-size($breakpoint, $direction: down) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @if $direction == up {
      @media (min-width: $breakpoint-value) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint-value) {
        @content;
      }
    }
  } @else {
    @if $direction == up {
      @media (min-width: $breakpoint) {
        @content;
      }
    } @else if $direction == down {
      @media (max-width: $breakpoint) {
        @content;
      }
    }
  }
}

.aboutUs {
  padding: 0 $body-padding-horizon;
  @include for-size(desktop, down) {
    margin-left: 10px;
    margin-right: 10px;
  }

  .title {
    @include for-size(phone, down) {
      font-size: 1rem;
    }
  }

  .aboutChild {
    padding: 30px;
    @include for-size(desktop, down) {
      padding: 10px;
    }
    @include for-size(phone, down) {
      font-size: 12px;
    }
  }

  .aboutImg {
    width: 500px;
    height: 300px;
    @include for-size(desktop, down) {
      width: 300px;
      height: 150px;
    }
    @include for-size(phone, down) {
      width: 200px;
      height: 100px;
    }
  }
}

.story {
  text-align: center;

  .storyItem {
    font-size: 16px;
    @include for-size(phone, down) {
      font-size: 13px;
    }
  }
}
