$primary: #f15a29;
$primary-disabled: #f15a2985;
$orange-light-1: #ffefe6;
$white: #fff;
$red: #f03838;
$black: #190134;

$grey-1: #9c988f;
$grey-2: #6d6d6d;
$grey-border: #d3d3d3;
$grey-darker-border: #c4c4c4;
$grey-darker-disabled: #c4c4c4;
$grey-lighter: #828282;

$btn-cancel-background: #e5e5e5;
$footer-background: #f1f1f1;
$body-background: #f8f8f8;

$font-black-1: #222;
$helper-text: #687078;
