@import './spacer.scss';
@import './variables.scss';
@import './overwrite-template.scss';

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: $font-size-default;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

.transform-uppercase {
  text-transform: uppercase !important;
}

//margin
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-50 {
  margin-bottom: 50px !important;
}
.mb-60 {
  margin-bottom: 60px !important;
}
.mb-90 {
  margin-bottom: 90px !important;
}
.mb-no {
  margin-bottom: 0 !important;
}

//padding
.pv-20 {
  padding: 20px 0;
}
.pt-20 {
  padding-top: 20px;
}
.pt-70 {
  padding-top: 70px;
}
.pb-20 {
  padding-bottom: 20px;
}

//text align
.ta-center {
  text-align: center !important;
}
.ta-right {
  text-align: right !important;
}
.content-align-center-vertical {
  display: flex;
  align-items: center;
}

.text-button-current-selected {
  color: $primary !important;
  border-bottom: 2px solid $primary !important;
}

// font style
.bold {
  font-weight: bold !important;
}
.italic {
  font-style: italic !important;
}
.text-underline {
  text-decoration: underline !important;
}

// font size
.h0 {
  font-size: $font-size-h0 !important;
}
.h1 {
  font-size: $font-size-h1 !important;
}
.h1-mid {
  font-size: $font-size-h1-mid !important;
}
.h2 {
  font-size: $font-size-h2 !important;
}
.h3 {
  font-size: $font-size-h3 !important;
}
.h4 {
  font-size: $font-size-h4 !important;
}
.h5 {
  font-size: $font-size-h5 !important;
}

//font-color
.color-black {
  color: $black !important;
}
.color-red {
  color: $red !important;
}
.color-primary {
  color: $primary !important;
}
.color-grey-lighter {
  color: $grey-lighter !important;
}

//height

// width
.w-60 {
  width: 60% !important;
}
.w-80 {
  width: 80% !important;
}
.width-100 {
  width: 100% !important;
}

// float
.float-right {
  float: right;
}

.display-block {
  display: block;
}

.align-content-center {
  @extend .display-flex;
  @extend .justify-content-center;
  @extend .align-items-center;
}

.display-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.justify-content-start {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.align-items-start {
  -webkit-box-align: start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -webkit-box-align: end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -webkit-box-align: baseline !important;
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -webkit-box-align: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

//.align-content-center {
//  -ms-flex-line-pack: center !important;
//  align-content: center !important;
//}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

//label
.label-1 {
  font-size: 18px;
  font-weight: 700;
}
.label-3 {
  font-size: 26px;
  font-weight: 700;
}

// card title
.title {
  font-size: $font-size-h3;
  font-weight: 500;
  padding-bottom: 20px;
}

.sum {
  font-size: $font-size-h4;
  color: $primary;
  font-weight: 500;
  padding-bottom: 20px;
}

// todo: remove
////button
//.btn-default {
//  color: white;
//  height: 40px;
//  border-radius: 5px;
//  text-align: center;
//  font-weight: 600;
//  padding: 0 15px;
//  border: 0;
//
//  &:disabled {
//    opacity: 0.5;
//    cursor: not-allowed !important;
//  }
//  &:hover {
//    cursor: pointer;
//    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//  }
//  &:active {
//    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
//    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
//    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
//  }
//}
//
////btn with no background color
//.btn-nbc {
//  background-color: white;
//  color: black;
//  height: 40px;
//  border-radius: 5px;
//  text-align: center;
//  font-weight: 600;
//  padding: 0 15px;
//  border: 1px solid black;
//
//  &:disabled {
//    opacity: 0.5;
//    cursor: not-allowed !important;
//  }
//  &:hover {
//    cursor: pointer;
//    -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//    -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.75);
//  }
//  &:active {
//    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
//    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
//    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.5);
//  }
//}
////link
//.link-default {
//  text-decoration: none;
//  font-style: italic;
//
//  &:hover {
//    cursor: pointer;
//    text-decoration: underline;
//  }
//}
//
//.link-2 {
//  text-decoration: underline;
//  font-style: italic;
//
//  &:hover {
//    cursor: pointer;
//    text-decoration: underline;
//  }
//}
