@import './color.scss';
@import './variables.scss';
@import './mixins.scss';

.ant-input,
.ant-select-selector {
  border-radius: 5px !important;
}

// ---------------------------------------- Form: start ----------------------------------------

.ant-form-item-label label {
  @include for-size(desktop-low, up) {
    font-size: $font-size-16 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-16 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// used when we want to make the UI for form item as "required",
// but cannot use rule {require: true" because we make the custom validation
// for ex: auth/AuthView -> register

// .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before
.custom-form-item-label-required .ant-form-item-label label::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 16px;
  line-height: 1;
  content: '*';
}
// ---------------------------------------- Form: end ----------------------------------------

// ---------------------------------------- Modal: start ----------------------------------------
.ant-modal-content {
  border-radius: 10px !important;
}
.ant-modal-header {
  border-radius: 10px 10px !important;
  padding-bottom: 0 !important;
  border: 0 !important;
}
.ant-modal-body {
  padding: 0 !important;
}
.ant-modal-footer {
  border-radius: 0 0 10px 10px !important;
  border: 0 !important;
}

// ---------------------------------------- Modal: end ----------------------------------------

// ---------------------------------------- Card: end ----------------------------------------
.ant-card-bordered {
  border: 1px solid $grey-border !important;
  border-radius: $border-radius !important;
  padding: $body-content-padding !important;
}

.ant-card-head {
  padding: 0 !important;
  border-bottom: 0 solid #f0f0f0 !important;
}
.ant-card-extra {
  padding: 0 !important;
}

.ant-card-head-title {
  padding: 0 !important;
  @include for-size(desktop-low, up) {
    font-size: $font-size-20 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-20 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.ant-card-body {
  padding: 0 !important;
}

.ant-card-head
  > .ant-card-head-wrapper
  > .ant-card-head-title
  .ant-steps-navigation
  > .ant-steps-item
  > .ant-steps-item-container {
  padding: 0 !important;
  background-color: inherit;
}
// ---------------------------------------- Card: end ----------------------------------------

.ant-btn {
  align-content: center !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  color: $primary !important;
  height: 40px !important;
  line-height: 20px !important;
  background-color: #fff !important;
  border-radius: 6px !important;
  padding: 10px 20px 10px 20px !important;
  display: inline-flex !important;
  align-items: center !important;
  border-color: #fff !important;
  text-align: center !important;
  box-shadow: none !important;
}

.ant-btn-primary {
  color: #fff !important;
  background-color: $primary !important;
  box-shadow: none !important;
  border-color: $primary !important;
}

.ant-btn-cancel {
  color: $font-black-1 !important;
  background-color: $btn-cancel-background !important;
  border-color: $grey-border !important;
}

.ant-btn:hover,
.ant-btn:focus {
  color: $primary !important;
  background: #fff !important;
  border-color: $primary !important;
}
.ant-layout-header {
  min-height: 40px !important;
  height: 40px !important;
}

.ant-btn:hover {
  opacity: 0.8 !important;
}

.ant-divider {
  border-top: 1px solid $grey-border !important;
}

// border bottom of selected tabs: for ex: /auth/register
.ant-tabs .ant-tabs-nav .ant-tabs-nav-wrap .ant-tabs-nav-list .ant-tabs-ink-bar {
  background: $primary !important;
}

.ant-tabs .ant-tabs-nav:before {
  border-bottom: 1px solid $grey-border !important;
}

// loading spin in LoadingIndicator
.ant-spin-spinning .ant-spin-dot i {
  background-color: $primary !important;
}

// button primary disabled
.ant-btn-primary-disabled {
  background-color: $primary-disabled !important;
  border-color: $primary-disabled !important;
  color: #ece7e7 !important;
  &:hover {
    background-color: $white !important;
  }
}

// todo: check again
.ant-notification {
  z-index: 4 !important;
}

.custom-card-body {
  padding: 0 15px 0 45px !important;
}

.custom-action {
  padding: 10px 15px 10px 45px !important;
  font-size: 14px !important;
  border-top: 1px solid #e4e9f0 !important;
}

.custom-action:hover {
  background-color: #eef0f4;
}

.custom-action-content {
  color: #0887c9 !important;
  font-weight: 520;
}

.custom-card-footer {
  padding: 10px 15px !important;
  border-top: 1px solid #e4e9f0 !important;
}

.custom-card-footer:hover {
  background-color: #eef0f4;
}

.custom-title-footer {
  font-size: 14px !important;
  color: #3d5170 !important;
}

.custom-body-content-title {
  font-size: 14px !important;
  width: 100% !important;
  color: #3d5170 !important;
  line-height: normal !important;
}
.custom-body-content-description {
  font-size: 14px !important;
  width: 100% !important;
  color: #b8beca !important;
  line-height: normal !important;
}

.custom-card-create-workspace {
  background-color: #e4e9f0;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 7px;
}

.custom-card-body-button {
  margin-bottom: 20px;
}

.custom-item-body-button {
  padding: 8px 15px !important;
}

.custom-item-body-button:hover {
  background-color: #eef0f4;
}

.custom-title-body-button {
  font-size: 14px !important;
  color: #3d5170 !important;
}

/* .ep-collapse-header .ant-collapse-header {
  padding: 12px 16px 12px 40px !important;
} */

.ep-collapse-content > .ant-collapse-content {
  border-top: none !important;
}

.ep-collapse-content > .ant-collapse-content > .ant-collapse-content-box {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ep-extra .ant-card-extra {
  padding: 10px 0 0 0 !important;
}

.ep-icon .ant-btn-icon-only {
  margin-left: 5px;
  margin-right: 5px;
}

.ant-menu-submenu-title {
  font-weight: bold;
}

.ant-steps-navigation .ant-steps-item::after {
  margin-top: -8px !important;
}

/* Grid */
.w-100 {
  width: 100% !important;
}

.w-75 {
  width: 75% !important;
}

.w-50 {
  width: 50% !important;
}

.w-25 {
  width: 25% !important;
}

/* Padding */

.ep-pt-10 {
  padding-top: 10px !important;
}

.ep-pb-10 {
  padding-bottom: 10px !important;
}

.ep-pr-10 {
  padding-right: 10px !important;
}

.ep-pl-10 {
  padding-left: 10px !important;
}

.ep-pt-20 {
  padding-top: 20px !important;
}

.ep-pb-20 {
  padding-bottom: 20px !important;
}

.ep-pr-20 {
  padding-right: 20px !important;
}

.ep-pl-20 {
  padding-left: 20px !important;
}

/* Margin */

.ep-mt-5 {
  margin-top: 5px !important;
}

.ep-mb-5 {
  margin-bottom: 5px !important;
}

.ep-mr-5 {
  margin-right: 5px !important;
}

.ep-ml-5 {
  margin-left: 5px !important;
}

.ep-mt-10 {
  margin-top: 10px !important;
}

.ep-mb-10 {
  margin-bottom: 10px !important;
}

.ep-mr-10 {
  margin-right: 10px !important;
}

.ep-ml-10 {
  margin-left: 10px !important;
}

.ep-mt-20 {
  margin-top: 20px !important;
}

.ep-mr-20 {
  margin-right: 20px !important;
}

.ep-ml-20 {
  margin-left: 20px !important;
}

// PUT in the end in order to overwrite the above
// ---------------------------------------- TYPOGRAPHY: Begin ----------------------------------------

// --- antd: <Typography.Title>text<Typography.Title/> ---
h1.ant-typography,
.typography-h1 {
  @include for-size(desktop-low, up) {
    font-size: $font-size-60 !important;
    //line-height: $line-height-70 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-60 !important;
    //line-height: $line-height-70 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// --- antd: <Typography.Title level={2}>text<Typography.Title/> ---
h2.ant-typography,
.typography-h2 {
  @include for-size(desktop-low, up) {
    font-size: $font-size-48 !important;
    //line-height: $line-height-130p !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-48 !important;
    //line-height: $line-height-130p !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-subtitle-bold {
  @include for-size(desktop-low, up) {
    font-size: $font-size-38 !important;
    //line-height: $line-height-38 !important;
    font-weight: bold !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-38 !important;
    //line-height: $line-height-38 !important;
    font-weight: bold !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-subtitle-regular {
  @include for-size(desktop-low, up) {
    font-size: $font-size-34 !important;
    //line-height: $line-height-38 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-34 !important;
    //line-height: $line-height-38 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// --- antd: <Typography.Title level={3}>text<Typography.Title/> ---
h3.ant-typography,
.typography-h3 {
  @include for-size(desktop-low, up) {
    font-size: $font-size-24 !important;
    //line-height: $line-height-32 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-24 !important;
    //line-height: $line-height-32 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// --- antd: <Typography.Title level={4}>text<Typography.Title/> ---
h4.ant-typography,
.typography-h4 {
  @include for-size(desktop-low, up) {
    font-size: $font-size-22 !important;
    //line-height: $line-height-38 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-22 !important;
    //line-height: $line-height-38 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// --- antd: <Typography.Title level={5}>text<Typography.Title/> ---
h5.ant-typography {
  @include for-size(desktop-low, up) {
    font-size: $font-size-20 !important;
    //line-height: $line-height-28 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-20 !important;
    //line-height: $line-height-28 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

// use Text then don' need to add class "typography-main"
// --- antd: <Typography.Text>text<Typography.Text/> ---
// --- antd: <Typography.Paragraph>text<Typography.Paragraph/> ---
span.ant-typography,
div.ant-typography,
.typography-main {
  @include for-size(desktop-low, up) {
    font-size: $font-size-18 !important;
    //line-height: $line-height-24 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-18 !important;
    //line-height: $line-height-24 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-menu {
  @include for-size(desktop-low, up) {
    font-size: $font-size-20 !important;
    //line-height: $line-height-20 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-20 !important;
    //line-height: $line-height-20 !important;
    //text-transform: uppercase;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-menu-subtext {
  @include for-size(desktop-low, up) {
    font-size: $font-size-14 !important;
    //line-height: $line-height-16 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-14 !important;
    //line-height: $line-height-16 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-small {
  @include for-size(desktop-low, up) {
    font-size: $font-size-16 !important;
    //line-height: $line-height-18 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-16 !important;
    //line-height: $line-height-18 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-small-subtext {
  @include for-size(desktop-low, up) {
    font-size: $font-size-12 !important;
    //line-height: $line-height-18 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-12 !important;
    //line-height: $line-height-18 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}

.typography-small-regular {
  @include for-size(desktop-low, up) {
    font-size: $font-size-10 !important;
    //line-height: $line-height-18 !important;
  }
  @include between-sizes(tablet, tablet-lg) {
    font-size: $font-size-10 !important;
    //line-height: $line-height-18 !important;
  }
  @include for-size(phone, down) {
    // wait for Mobile
  }
}
// ---------------------------------------- TYPOGRAPHY: End ----------------------------------------
