.forum {
  margin: 0 auto;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  :global {
    .header {
      background: #f8f8f8;
      margin-bottom: 30px;
    }

    h3 {
      padding-top: 40px;
      padding-bottom: 15px;
      text-align: center;
      color: #222;
      font-weight: 700;
      line-height: 18px;
      font-size: 26px;
    }

    .search-bar {
      border-radius: 3px;
      margin-left: 50%;
      transform: translateX(-50%);
      width: 20%;
      max-width: 100%;
      margin-bottom: 30px;
    }

    .table-header {
      font-size: 15px;
      font-weight: 400;
      margin: 0px 280px;
      text-align: center;
      border-top: 1px solid #d9d9d9;
      border-bottom: 1px solid #d9d9d9;
      background: #ededed;
      .title {
        padding: 15px 0px;
        font-size: 24px;
        text-align: center;
      }
    }

    .topics {
      padding-right: 280px;
      padding-left: 280px;

      .forum__topic {
        background-color: white;
        border-bottom: 1px solid #d9d9d9;
      }
      .forum__no_topic {
        background-color: white;
        border-bottom: 1px solid #d9d9d9;
        text-align: center;
      }
    }

    .pagination {
      width: 100%;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 100px;
    }
  }
}
