@import 'style/variables.scss';
@import 'style/color.scss';

$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px,
);

@mixin for-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
}

.terms {
  background-color: $body-background;
  padding: 0 $body-padding-horizon-1-5x 150px;
  text-align: center;
}

.terms .body {
  background-color: #fff;
  padding: 1em;
  text-align: left;
  border-color: $grey-border;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.04), 0 15px 12px rgba(0, 0, 0, 0.005);
  border-radius: 10px !important;
}
