.text-input {
  $inputHeight: 40px;
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  overflow: auto;
  padding-right: 30px;
  .label {
    float: left;
    width: 20%;
    min-height: $inputHeight;
    padding-top: #{$inputHeight - 34px};
    .star {
      color: red;
    }
  }
  .input {
    width: 80%;
    float: right;
    height: $inputHeight;
    font-size: 16px !important;
    input {
      font-size: 16px !important;
    }
  }

  .validation {
    width: 100%;
    height: $inputHeight;
  }
}
