@import 'style/variables.scss';
@import 'style/color.scss';

.centerAlignContent {
  //padding-top: $header-height + $news-highlight-height;
  position: absolute;
  top: $header-height + $news-highlight-height;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .content {
    background-color: $white;
    border: 1px solid $grey-border !important;
    border-radius: $border-radius;
    padding: $block-padding-vertical;
  }
}
