$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px,
);

@mixin for-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
}

.content h1 {
  margin-top: 20px;
  font-weight: 400;
  @include for-size(phone-sm) {
    margin-top: 10px;
    font-size: 24px;
  }
}

.description {
  margin: auto;
  font-size: 18px;
  text-align: justify;
  @include for-size(phone) {
    margin-top: 10px;
    font-size: 16px;
    width: 80%;
  }
  @include for-size(tablet-lg) {
    margin-top: 10px;
    font-size: 18px;
    width: 80%;
  }
}
