@import 'style/variables.scss';
@import 'style/color.scss';

$breakpoints: (
  phone-sm: 420px,
  phone: 767px,
  tablet: 768px,
  tablet-lg: 1024px,
  desktop: 1025px,
  desktop-lg: 1600px,
);

@mixin for-size($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: $breakpoint-value) {
      @content;
    }
  }
}

.faqs {
  background-color: $body-background;
  padding: 0 $body-padding-horizon-1-5x 150px;
  text-align: center;
}

.faqs-card {
  background-color: #fff;
  padding: 1em;
  text-align: left;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.04), 0 15px 12px rgba(0, 0, 0, 0.005);
  border-radius: 10px !important;
  font-size: $font-size-default;
}

.user-info-row {
  margin: 0 auto !important;
  width: 80%;
  padding-bottom: 50px;
}

.faqs-question {
  font-size: $font-size-default;
  text-align: left;
  font-weight: 400;
  text-decoration: none;
  display: table;
  color: #000;
  margin-bottom: 20px;
  overflow-wrap: anywhere;

  &:hover {
    font-weight: 500;
    color: $primary;
  }
  &:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 2px;
    left: 0%;
    position: relative;
    background-color: $primary;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  &:hover:after {
    width: 100%;
    left: 0;
  }
}
