// z-index:
//    2: header
//    3: drop down menu when hover avatar in header
//    4: ant notification (style/overwrite-template.css)

$max-width-content: 1920px;
$title-font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;

$font-size-default: 18px;
$font-size-h0: 80px;
$font-size-h1: 60px;
$font-size-h1-mid: 50px;
$font-size-h2: 34px;
$font-size-h2-mid: 30px;
$font-size-h3: 24px;
$font-size-h4: 20px;
$font-size-h5: 16px;
$font-size-h6: 14px;
$font-size-desktop-main-regular: 16px;

$font-size-60: 60px;
$font-size-48: 48px;
$font-size-42: 42px;
$font-size-38: 38px;
$font-size-34: 34px;
$font-size-30: 30px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;

$line-height-70: 70px;
$line-height-49: 49px;
$line-height-130p: 130%;
$line-height-38: 38px;
$line-height-35: 35px;
$line-height-34: 34px;
$line-height-32: 32px;
$line-height-28: 28px;
$line-height-24: 24px;
$line-height-20: 20px;
$line-height-18: 18px;
$line-height-19: 19px;
$line-height-16: 16px;
$line-height-14: 14px;

$header-height: 70px;
$footer-height: 230px;
// news for coming contest under header, top of body
$news-highlight-height: 50px;

$border-radius: 10px;

// todo: responsive theo screen size
$body-padding-horizon: 15%;
$body-padding-horizon-1-5x: 20%;
$body-padding-horizon-2x: 30%;
$block-padding-vertical: 40px;
$body-content-padding: 30px;
