@import 'style/color.scss';
@import '../style.module';

.switch-buttons {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;

  .btn {
    border-radius: 5px;
    padding: 25px 50px !important;
    margin-right: 30px;
    background-color: $btn-cancel-background !important;
    color: #8c97ac !important;
    border-color: $grey-border !important;

    &:hover {
      cursor: pointer;
      background-color: rgb(202, 202, 202);
    }
  }

  .active {
    background-color: #f05a22 !important;
    color: #fff !important;
  }
}

.search-challenge {
  width: 500px;
  margin: 0 auto;
  padding-bottom: 50px;
}
