@import 'style/color.scss';
@import 'style/variables.scss';
@import 'style/global.scss';

.card {
  margin-top: 30px;
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 10px !important;
}

.card-overalls {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.label {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.count {
  margin-top: -10px !important;
  font-size: $font-size-h2;
  font-weight: 500;
  margin-bottom: 0px !important;
}

.overalls {
  border: 1px solid $grey-border;
  border-radius: 0px;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 70px;

  &.edge {
    border-left-width: 0px !important;
    border-right-width: 0px !important;
  }
}

.card-header {
  font-weight: 700;
  font-size: 20px;
  background-color: #f9f9f9;
}
