.ranking {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 20px;

  .rankingTable {
    text-align: center;

    :global(.ant-table) {
      font-size: 18px;
    }

    :global(.ant-table-thead th) {
      font-weight: bold;
    }

    :global(.ant-input-group-addon) {
      &:hover {
        cursor: pointer;
        background-color: rgb(202, 202, 202);
      }
    }

    .searchBar {
      margin-left: 50%;
      transform: translateX(-50%);
      width: 600px;
      max-width: 100%;
      margin-bottom: 20px;
    }

    .btnSearch {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      transform: scaleX(-1);
    }
  }
}
