.modal-view {
  position: relative;

  .content {
    padding: 5px 24px;
  }

  .img-top-right {
    width: 50px;
    position: absolute;
    top: 40px;
    right: 0;
  }

  .img-bottom-left {
    width: 50px;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}
