@import 'style/color.scss';
@import 'style/variables.scss';
@import 'style/mixins.scss';

.testimonialCard {
  padding: 20px;
  border-radius: 10px;

  @include button-hover();

  .content {
    padding: 20px 0;
    color: $grey-2 !important;
    overflow-wrap: break-word;
  }

  .contest {
    color: $grey-1 !important;
  }
}
