@import 'style/color.scss';

#iconOnlyButton.ant-btn {
  color: $grey-lighter !important;
  padding: 0 !important;
  border-color: transparent !important;
  &:hover {
    color: $primary !important;
    padding: 0 !important;
    border-color: transparent !important;
  }
}
