.rankings {
  width: 1300px;
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
  :global {
    .ant-pagination {
      justify-content: center;
    }
    .list-btn {
      margin: 0 auto;
      text-align: center;
    }
  }
}
