@import 'style/color.scss';
@import 'style/variables.scss';
@import 'style/global.scss';

.layout {
  height: 100%;
}

.card {
  border: 1px solid $grey-border;
  margin-top: 30px;
  width: 100%;
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 10px !important;
}

.card-overalls {
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;
  border-width: 0px !important;
}

.overalls {
  border-radius: 0px;
  display: flex;
  height: 150px;
  width: 150px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -1px;

  &.left {
    border-left-width: 0px !important;
  }
  &.right {
    border-right-width: 0px !important;
  }
}

.label {
  border: 1px solid $grey-border;
  border-top-width: 0px;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -1px;

  &.easy {
    background-color: #7fba0080;
  }
  &.medium {
    background-color: #f05a2280;
  }
  &.hard {
    background-color: #fe2c2580;
  }
  &.total {
    background-color: #c4c4c480;
  }
}

.label-text {
  margin: 0 auto;
  font-size: $font-size-h6;
  font-weight: 400;
  padding: 3px;
}
