@import 'style/color.scss';

.topic-detail {
  width: 100%;
  max-width: 100%;
  padding: 40px 280px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  background: #f8f8f8;

  :global {
    .breadcrumb {
      margin-bottom: 40px;
      font-size: 15px;
      font-weight: 700;
    }

    .topic-detail__item {
      margin-bottom: 10px;
    }

    .ck-content {
      min-height: 300px;
    }

    .pagination {
      width: 100%;
      text-align: center;
      margin-top: 80px;
      margin-bottom: 100px;
    }

    .suggestion {
      margin-right: 20px;
      .suggestion-title {
        letter-spacing: 0.2px;
        padding: 15px;
        font-size: 15px;
        color: #808080;
        text-align: center;
      }

      .create-post {
        background: white;
        border-radius: 10px;
        border: 1px solid $grey-darker-border;
        padding: 25px 30px;
        margin-bottom: 100px;
      }

      .btn-group {
        padding-left: 80%;
        .button-active {
          letter-spacing: 0.3px;
          font-size: 10px;
          font-weight: 450;
          border-radius: 5px;
          margin-left: 6px;
          margin-top: 10px;
          color: white;
          background: #f05a22;
        }
        .button-inactive {
          letter-spacing: 0.3px;
          font-size: 10px;
          font-weight: 300;
          border-radius: 5px;
          margin-left: 6px;
          margin-top: 10px;
          color: #808080;
          background: #e5e5e5;
        }
        img {
          width: 20px;
          padding-right: 10px;
        }
      }
    }
  }
}
