@import 'style/color.scss';

.topic-detail___card {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  :global {
    .topic__user {
      background: white;
      padding: 30px 0px;
      margin-right: 20px;
      margin-bottom: 15px;
      width: 600px;
      text-align: center;
      border: 1px solid $grey-darker-border;
      border-radius: 10px;

      img {
        width: 100px;
        height: 100px;
        border-radius: 255px;
      }
      .username {
        padding: 10px 0px;
        font-size: 15px;
        font-weight: 400;
      }

      .fullname {
        font-size: 13px;
        color: #808080;
      }
      .count-posts {
        font-size: 13px;
        color: #808080;
      }
    }

    .post {
      background: white;
      border: 1px solid $grey-darker-border;
      border-radius: 10px;
      padding: 30px 30px;
      margin-bottom: 15px;
      .topic-title {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .time {
        font-size: 8px;
        color: #808080;
        margin-bottom: 2px;
      }

      .title {
        font-size: 15px;
        font-weight: 700;
        color: black;
        margin-bottom: 10px;
      }

      .description {
        font-size: 12px;
        font-weight: 400;
        color: black;
        margin-bottom: 20px;
      }

      .content {
        font-size: 12px;
        font-weight: 400;
        color: black;
        padding-bottom: 50px;
      }

      .bottom {
        padding-left: 75%;
        .btn-group {
          font-size: 10px;
          font-weight: 400;
          align-items: right;
          text-align: right;
          .like,
          .dislike {
            margin-right: 10px;
            color: grey;
            &:hover {
              color: black;
            }
          }
          .btn-reply {
            margin-left: 10px;
            font-size: 10px;
            font-weight: 400;
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          svg {
            &.active {
              color: #1771e6;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }

        .topic__comments {
          padding-left: 30px;
          border-left: 1px solid grey;
        }
      }
    }
  }
}
