@import 'style/color.scss';
@import 'style/variables.scss';

.comment {
  :global {
    .replies {
      background-color: black;
      padding-left: 50px;
      border-left: 1px solid grey;
      margin-bottom: 30px;
    }
    .reply {
      margin-bottom: 20px;
      margin-top: 20px;
    }

    .reply-action {
      text-align: right;
    }
    .user {
      padding-bottom: 10px;
      font-weight: bold;
      img {
        width: 50px;
        height: 50px;
        border-radius: 255px;
      }
    }

    .ant-comment-content-author-name {
      font-size: 14px;
      color: $primary;
      font-weight: 500;
      margin-bottom: 2px !important;
    }
    // TODO: Refactor this
    .ant-comment-content-author-time {
      font-size: 10px;
      color: #949495;
      vertical-align: middle;
      align-items: center;
    }

    .btn-group {
      .like,
      .dislike {
        margin-right: 20px;
        color: grey;
        &:hover {
          color: black;
        }
      }
      .btn-reply {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      svg {
        &.active {
          color: #1771e6;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
