@import './footer/style.module.scss';
@import './header/style.module.scss';

.layout {
  height: 100%;
}

.body {
  position: relative;
  padding-top: $header-height;
  width: 100%;
  background-color: #f8f8f8;
  min-height: calc(100% - #{$footer-height});
}
